/* สไตล์ของหน้า History */
#historyTable {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

#historyTable th, #historyTable td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

#historyTable th {
    background-color: #f2f2f2;
}

#historyTable td {
    background-color: #fff;
}
